.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top:0px;
  margin-top: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom:19px;
}

/* Custom page header */
.header {
  margin-bottom: 2%;
  text-align: center;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding:2%;
}

.container{
  width:100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  font-size:25px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: white;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin-bottom:19px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    padding:0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

md-select{
  width:400px;
  font-size:25px;
}

a.md-raised.md-button{
 background-color:#57CBFF;
}

.header{
  color:white;
  background-color:#57CBFF;
}

.navIcon{
  display:inline-block;
  width:40px;
}

.navIcon2{
  display:inline-block;
  width:25px;
}

.nav.navbar-nav{
  width:100%;
}

.nav.navbar-nav li{
  width:33.33%;
}

.navbar{
  height:70px;
  min-height:0;
}

.navbar ul li a{
  text-align:center;
  margin:0 auto;
  height:70px;
  line-height:70px;
  color:white;
}

.navbar ul li a:focus{
  color:black;
}

.navbar-nav{
  margin:0;
}

.navbar.navbar-fixed-bottom{
 padding-left:0;
 background-color:#57CBFF;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

md-table-container{
  width:100%;
}

table{
  width:100%;
}

table tr th{
  width:33.33%;
  font-size:15px;
}

table tr td{
  font-size:15px;
}

.gameHeaders{
  color:white;
  background-color:#57CBFF;
  padding:2%;
}

md-toolbar{
  padding-bottom:5%;
}

md-select-label img{
  width:50px;
  height:50px;
}