<div ng-controller="ArgueCtrl">
    <span>Select a Hockey Team:</span>
    <md-select ng-model="therivalteamsSelection" ng-change="setStats()" aria-label="therivalteamsSelection">
        <md-option ng-value="Team" ng-repeat="Team in rivalteamsSelection">{{ Team.name }}</md-option>
    </md-select>

<h3>Conversation Enders</h3>
    <ul>
        <li>[TEAM] such a bender/duster</li>
        <li>They are a bunch of hosers</li>
        <li>The goalie likes to get fed by the other players.</li>
        <li>losers complain</li>
        <li>Here is a hat trick: 1 goal, 1 assist &amp; 1 fight.</li>
        <li>If you can’t play nice, play hockey.</li>
    </ul>

</div>