<div ng-controller="ArgueCtrl">
    <span>Select a Hockey Team:</span>
    <md-select ng-model="therivalteamsSelection" ng-change="setStats()" aria-label="therivalteamsSelection">
        <md-option ng-value="Team" ng-repeat="Team in rivalteamsSelection">
            <md-select-label><img src="{{ Team.images }}" /></md-select-label>
            {{ Team.name }}</md-option>
    </md-select>
    <div>
        <h3>The Rival Team is</h3>
        <div class="rival" ng-style="{'font-size:20px'}">{{rivalCity.city_rival}}</div> 
        <div class="rival"><md-select-label><img ng-src="{{rivalCity.r_images}}"/><md-select-label></div>
    </div>

    <md-toolbar class="md-table-toolbar md-default setStats()" ng-repeat="n in output track by $index">
        <div>
            <h3 class="gameHeaders">Game {{$index+1}}</h3>
        </div>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>Points</th>
                        <th md-column>Goals</th>
                        <th md-column>Assists</th>
                    </thead>
                    <tbody md-body>
                    <tr md-row >
                        <td md-cell>{{n.point_leader_name}}  :  {{n.point_leader_points}}</td>
                        <td md-cell>{{n.goals_leader_name}}  :  {{n.goals_leader_points}}</td>
                        <td md-cell>{{n.assists_leader_name}} :  {{n.assists_leader_points}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-toolbar>

<h3>Conversation Enders</h3>
<hr>
    <ul>
        <li>[TEAM] such a bender/duster</li>
        <li>They are a bunch of hosers</li>
        <li>The goalie likes to get fed by the other players.</li>
        <li>losers complain</li>
        <li>Here is a hat trick: 1 goal, 1 assist &amp; 1 fight.</li>
        <li>If you can’t play nice, play hockey.</li>
    </ul>

</div>